* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  width: 100%;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.product-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  width: 30%;
  height: 20%;
  background-color: azure;
  padding: 10px 20px;
}

.product-desc h2 {
  padding: 10px;
}

.product-thumbnail {
  width: 150px;
  height: 100px;
}

.pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.pagination span {
  font-weight: 700;
}

.index {
  padding: 10px;
  border: none;
}

.selected {
  padding: 10px;
  background-color: darkolivegreen;
  border: none;
}
