* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 10px auto;
  background-color: beige;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.list {
  list-style: none;
}

.option-btn,
.next-btn {
  padding: 10px 20px;
  width: 50%;
  display: block;
  margin: 10px auto;
  background-color: whitesmoke;
  border: none;
}

.option-btn:hover {
  background-color: antiquewhite;
}

.next-btn {
  background-color: darksalmon;
}

.option-btn.correct {
  background-color: darkolivegreen;
}
.option-btn.incorrect {
  background-color: darkred;
}
