
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/*preset*/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

body,h1,h2,h3 {
  margin: 0;
  padding: 0;

}

:root {
  font-family: Raleway;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  --placeholder-color: #CED3DF;
  --button-color: #5732F9;
  --secondary-text: white;
  --sub-text:rgb(131, 128, 128);
  --hover : #DDE2EE;
  --navbar: #FEF7F2;
  --background-color: #e7e7e7;
}

body {
  background-color: var(--background-color);
}