#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.light.red {
  background-color: red;
}

.light.yellow {
  background-color: yellow;
}

.light.green {
  background-color: green;
}

.default {
  background-color: gray;
}

.user-input {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px;
}

.home {
  display: flex;
  flex-direction: column;
}

/* accordian */
.accordian-home {
  color: red;
  width: 700px;
  height: 100px;
  margin: 30px;
}
.accordian {
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details {
  padding: 10px;
  background-color: aliceblue;
}
