
.login {
    display: flex;
    max-width: 1600px;
    margin: 3rem;
    gap: 100px;
    justify-content: space-between;

}

.login img {
   width: 45%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 1000px;
    width: 30%;   
    
}

p > .forgot-password {
    float: right;
    font-weight: bold;
    margin: 0.5rem auto;
}

.form-control {
    margin-top: 1rem;
}
