@import '../index.css';

.login {
    display: flex;
    max-width: 1600px;
    margin: 3rem;
    gap: 100px;
    justify-content: space-between;
}

#btn {
    width: 60%;
    align-self: center;
}

.login h3 {
    margin: 0;
    align-self: center;
}
.login h2 {
    font-size: 2rem;
}
.banner {
    display: flex;
    flex-direction: column;
}

.banner img {
    width: 65%;
    margin-top: -140px; 
    margin-bottom: -100px;

}


.banner h1 {
    font-size: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;   
    margin-top: 5rem;
    
}

p > .forgot-password {
    float: right;
    font-weight: bold;
    margin: 0.5rem auto;
}

.form-control {
    margin-top: 1rem;
}
