.search-results {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
   
}

.provider-profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: whitesmoke;
    gap: 1rem;
    align-items: center;
}

.provider-profile img {
   border-radius: 10%;
   width: 70%;
  
}