@import '../index.css';

 .create-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    
    }
    .select-type {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
/* 
    .select-type a {
        padding: 0.7rem;
        margin: 10px;
        background-color: var(--button-color);
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        border-radius: 7px;

    } */

