@import url(/src/index.css);

.home {
  margin: 2rem;
}

/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  max-width: 50%;
}

#hero-title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem 0;
}

#btn {
  width: 60% !important;
  align-self: center;
}

.search-form input {
  margin-bottom: 1rem;
}

/* How it works */

.steps {
  padding-bottom: 2rem;
  background-color: azure;
}

#title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  padding-bottom: 1rem;
}

#grid-item-title {
  font-size: 1rem;
  font-weight: 700;
}
.tabs {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  width: 20%;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.tab-btn {
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  margin: 0.3rem;
  color: whitesmoke !important;
}

.active {
  background-color: #848181;
  border-radius: 10px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* justify-content: stretch; */
  gap: 1rem;
  background-color: #848181;
  padding: 1rem;
}

.grid-item {
  background-color: lightpink;
  padding: 2rem;
  text-align: center;
}

/* Register */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgb(197, 211, 230);
  padding: 2rem 0;
}

.content {
  font-size: 1rem;
}

#btn {
  max-width: 20% !important;
}
