
@media (min-width:800px) {
  .provider-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
  
    
}

.provider-form > div {
    padding: 0.3rem;
    margin: 0 1rem;
  }

  .radio-label {
    margin-right: 1rem;
  }
  
  .provider-form > div:nth-child(1), div:nth-child(7) {
    grid-column: span 2;
  }

  .provider-form > button {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
    margin: 2rem;
  }
}
.provider-form > div:first-child  {
  display: inline-block;
  justify-self: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
}


.terms-label:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .provider-form {
    display: flex;
    flex-direction: column;
  }

}
