

@media (min-width:800px) {
    .user-form {
        display: grid;
        max-width: 1000px ;
        grid-template-columns: repeat(2,1fr);
      
    }
    
    .user-form > div {
        padding: 0.3rem;
        margin: 0 1rem;
      }
    
      .user-form > div:nth-child(1) {
        grid-column: span 1;
      }
    
      .user-form > button {
        grid-column: span 2;
        width: 50%;
        justify-self: center;
        margin: 2rem;
      }
  
}

  @media (max-width: 480px)  {
    .user-form {
        display: flex;
        flex-direction: column;
       
    }
  }